body {
  margin: 0;
  font-family: Arial;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0a3d62;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #f6b93b;
}

/* HERO */
.hero {
  height: 90vh;
  background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') center/cover no-repeat;
  color: white;
  text-align: center;
  padding-top: 200px;
}

.hero button {
  padding: 10px 25px;
  background: #f6b93b;
  border: none;
}

/* BOOKING */
.booking {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 30px;
  background: #f1f2f6;
}

/* DESTINATIONS */
.destinations {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  width: 250px;
  box-shadow: 0 4px 8px gray;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0a3d62;
  color: white;
}

